*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif,serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./images/back_iamge.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    background: transparent;
    backdrop-filter: blur(50px);
}